#id1{
    color: green;
}
#id2{
    color: red;
}
#id3{
    color: blue;
}
#id4{
    background-color: green;
}
#id5{
    background-color: purple;
}
#id6{
    color: purple;
}
#id7{
    color: grey;
}