
header{
    display: flex;
    justify-content: center;

}
li{
    display: inline;
    margin-bottom: 50px;  
   
}

a{
    text-decoration: none;
    color: black;
   
}

.flex-container {
  height: 23px;
  
}


.flex-container > li {
    margin: 0px;
    height: 50px;
    line-height: 30px;
    font-size: 20px;
    flex-wrap: wrap;

}

/* .search form{   
  position: sticky;
  top: 0;
} */

a:hover{
    color: blue;
}

.search button{
    background-color: white;
    margin-left:-50px;
    text-decoration: none;
    border: 0;   
}
button:hover{
    cursor: pointer;
}

input:hover{
    cursor: pointer;
}

.search{
    background-image: url("https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/ZG_ZPA_08_21_Americana_ExtFront_1081_4936px_desktopImg2x-2-scaled.jpg");
    background-size: 1800px 400px;
    background-position: 60% bottom;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 
.search h2{
    font-size: 50px;
    text-align: center;
    color: white;
}

.search input{
    width: 600px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    text-overflow: ellipsis;
    text-align: left;

}

main > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    margin-top: 40px;
}

.signin{
    font-size: 20px;
    
}

.button2{
    background-color: white;
    border: 1px solid blue;
    color: blue;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 20px;
}

button:hover{
    background-color: aliceblue;
    border: 1px solid darkblue;
}

/* containers section */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px;
    background-color: whitesmoke;
    padding: 60px;
    
}

.container1, .container2, .container3{
    border: 1px solid white;
    width: 380px;
    display: inline-block; 
    padding: 110px 30px 110px 30px;
    margin: 25px;
    background-color: white;
    box-shadow: 1px 1px grey;
    border-radius: 5px;    
}
.container1:hover, .container2:hover, .container3:hover{
    transform: scale(1.05);
    transition: transform .3s;
    cursor: pointer;    
}

.container1:hover .button2, .container2:hover .button2, .container3:hover .button2 {
    background-color: rgb(0, 81, 255);
    color: white;
}

/* Dropdown Menu */

.navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 45px;
  }
  
a {    
    font-size: 16px;   
    text-align: center;
    padding: 14px 16px;

  }

  
  .dropdown .dropbtn {
    font-size: 16px;  
    color: black;
    padding: 14px 16px;
    background-color: white;
    border: none;
    border-right: 1px solid black;
    padding: 5px 130px 5px 130px;
   
  
 }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
 
   
  }
  
  .dropdown-content a {
    float: none;
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*footer (first section)*/

  
  .firstfooter{
    display: inline;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .firstfooter a:hover{
    text-decoration: underline;
    color: black;
  }

  .personalinfo{
    color: blue;
  }

  /*footer (second section) */

  .secondfooter{
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
  }

  .secondfooter a{
   
    text-decoration: underline;
    color: darkblue;
    font-size: 18px;
    padding: 0px;
  }

  .links a{
    display: block;
  }

  /*application download buttons*/

.download_app{
    display: flex;
    justify-content: center;
   
}
.play_store img{
    height: 52px;
    width: 120px;
    margin: 10px;
    
}
.app_store img{
    height: 58px;
    width: 120px;
    margin: 14px;
}
/*ICONS*/

.icons{
  display: flex;
  justify-content: center;
}

 .icons .fa {
  padding: 20px;
  font-size: 13px;  
  text-align: center;
  text-decoration: none;  
  border-radius: 50%;
  margin: 14px;
  position: relative;
  bottom: 20px;
  padding: 20px;
}
.icons .fa-facebook {
  background: #3B5998;
  color: white;
}
.icons .fa:hover {
  opacity: 0.7;
}

.icons .fa-instagram {
  background: #125688;
  color: white;
}

.icons .fa-twitter {
  background: #55ACEE;
  color: white;
}

.icons .house{
  position: relative;
  bottom: 20px;
}